.drink-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.img-box {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
